* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(189, 176, 176);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
  max-width: 1240px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-areas:
    "hero hero item1 item2"
    "item3 item4 hero1 hero1";
  gap: 20px;
}

.hero {
  grid-area: hero;
}

/* items  */
.item-1 {
  grid-area: item1;
}
.item-2 {
  grid-area: item2;
}
.item-3 {
  grid-area: item3;
}
.item-4 {
  grid-area: item4;
}

.hero-1 {
  grid-area: hero1;
}

.card {
  text-decoration: none;
  min-height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5px 0.5px 4px 0.2px black;
  border-radius: 5px 5px 0px 0px;
}

.card:hover {
  position: relative;
  transition: all 2s ease-in;
  top: -3px;
}

.thumbnail {
  padding-bottom: 50%;
  background-size: cover;
  background-position: center center;
  border-radius: 5px 5px 0px 0px;
}

article {
  display: grid;
  justify-items: center;
  padding: 10px 5px 10px 5px;
  text-align: center;
}

article h1 {
  padding-bottom: 5px;
  font-weight: bold;
}

article p {
  font-size: 18px;
}

.btn {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-style: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(255, 255, 255);
  transition: 1s;
}

.btn:hover {
  color: black;
  transform: scale(1.1);
}

/* Responsive Ipad */
@media only screen and (max-width: 768px) {
  .container {
    max-width: 50%;
    margin: 10px auto;
    grid-template-areas:
      "hero hero"
      "hero1 hero1"
      "item1 item2"
      "item3 item4";
  }

  .hero {
    grid-area: hero;
  }

  /* items  */
  .item-1 {
    grid-area: item1;
  }
  .item-2 {
    grid-area: item2;
  }
  .item-3 {
    grid-area: item3;
  }
  .item-4 {
    grid-area: item4;
  }

  .hero-1 {
    grid-area: hero1;
  }
}

/* Handphone */
@media only screen and (max-width: 500px) {
  body {
    margin: 15px;
  }

  .container {
    width: 90%;
    grid-template-areas:
      "hero"
      "hero1"
      "item1"
      "item2"
      "item3"
      "item4";
  }

  .hero {
    grid-area: hero;
  }

  /* items  */
  .item-1 {
    grid-area: item1;
  }
  .item-2 {
    grid-area: item2;
  }
  .item-3 {
    grid-area: item3;
  }
  .item-4 {
    grid-area: item4;
  }

  .hero-1 {
    grid-area: hero1;
  }
}
